section.items-type-modal(tjsMaterialize)
  form(
    '(ngSubmit)'='save()'
    '#itemsTypeForm'='ngForm'
  )
    .modal-header
      button.close(
        type='button'
        role='button'
        aria-label='Close'
        '(click)'='modalInstance.dismiss()'
      )
        span(aria-hidden='true') ×
      h4.modal-title
        span('*ngIf'='!data.id')
          | Add New Items Type
        span('*ngIf'='data.id')
          | Edit Items Type
    .modal-body('*ngIf'='data')
      .form-group.label-floating
        label.control-label(for='name') Name
        input#name.form-control(
          name='name'
          type='text'
          '[(ngModel)]'='data.name'
          '#name'='ngModel'
          required
        )
        small.text-danger('*ngIf'='!name.valid && !name.pristine')
          span('*ngIf'='name.errors?.required') Name is required.
      .form-group.label-floating
        label.control-label(for='description') Description
        textarea#description.form-control(
          tjsAutosize
          name='description'
          type='text'
          '[(ngModel)]'='data.description'
          '#description'='ngModel'
        )
        small.text-danger('*ngIf'='!description.valid && !description.pristine')
          span('*ngIf'='description.errors?.required') Description is required.
    .modal-footer
      button.btn.btn-secondary(
        type='button'
        role='button'
        '(click)'='modalInstance.dismiss()'
      )
        i.fa.fa-fw.fa-ban
        | &nbsp;
        | Close
      button.btn.btn-success(
        type='button'
        role='button'
        '(click)'='save()'
        '[disabled]'='!itemsTypeForm.form.valid'
      )
        i.fa.fa-fw.fa-floppy-o
        | &nbsp;
        | Save
