section.card.sections(tjsMaterialize)
  .card-block
    h4.card-title
      i.fa.fa-archive
      | &nbsp;
      | Sections
      small('*ngIf'='sections?.length')
        | &nbsp;
        span.tag.tag-pill.tag-default {{ sections.length }}
  .table-responsive
    table.table.table-hover.mb-0
      thead.thead-inverse
        tr
          th.text-xs-center(style='width: 1%')
            i.fa.fa-pencil
          th.text-xs-center(style='width: 1%')
            i.fa.fa-link
          th Name
          th Description
          th Level
          th Created By
          th Updated By
          th.text-xs-center(style='width: 1%')
            i.fa.fa-trash
      tbody
        tr(
          '*ngFor'='let section of sections'
          '[ngClass]'='{ "table-danger": !section.isAvailable }'
        )
          td.text-xs-center
            button.btn.btn-primary(
              type='button'
              role='button'
              '(click)'='edit(section, $event)'
              ngbTooltip='Edit Section'
              placement='top'
            )
              i.fa.fa-pencil
          td.text-xs-center
            button.btn.btn-info(
              type='button'
              role='button'
              '[routerLink]'='[ "/admin/courses", section.course, "section", section.id ]'
              ngbTooltip='Open Section'
              placement='top'
            )
              i.fa.fa-link
          th
            | {{ section.name }}
            small('*ngIf'='section.itemsCount')
              span.tag.tag-info.float-xs-right {{ section.itemsCount }} items
          td {{ section.description }}
          td
            strong(
              '*ngIf'='section.level'
              '[style.color]'='section.level.color'
              '[ngbTooltip]'='section.level.description'
              placement='top'
            ) {{ section.level.name }}
          td
            button.btn.btn-info(
              type='button'
              role='button'
              '[routerLink]'='[ "/users", section.createdBy._id ]'
              ngbTooltip='Open Users Profile'
              placement='top'
              '*ngIf'='section.createdBy?._id'
            ) {{ section.createdBy.login }}
          td
            button.btn.btn-info(
              type='button'
              role='button'
              '[routerLink]'='[ "/users", section.updatedBy._id ]'
              ngbTooltip='Open Users Profile'
              placement='top'
              '*ngIf'='section.updatedBy?._id'
            ) {{ section.updatedBy.login }}
          td.text-xs-center
            button.btn.btn-danger(
              type='button'
              role='button'
              '(click)'='remove(section, $event)'
              ngbTooltip='Remove Section'
              placement='top'
            )
              i.fa.fa-trash
  .alert.alert-info.mb-0(
    role='alert'
    '*ngIf'='!sections?.length'
  )
    | No sections yet.
    ul
      li Try to
        | &nbsp;
        a.alert-link(
          hrefVoid
          '(click)'='refresh()'
        ) refresh
        | &nbsp;
        | data.
      li
        | Would you like to
        | &nbsp;
        a.alert-link(
          hrefVoid
          '(click)'='add()'
        ) add one
        | ?
  .bottom-right-actions-container
    button.btn.btn-primary.btn-fab(
      '(click)'='add()'
      ngbTooltip='Add New Section'
      placement='top'
      container='body'
    )
      i.fa.fa-plus
