section.password-reset(tjsMaterialize)
  form(
    '(ngSubmit)'='sendPasswordResetEmail()'
    '#passwordResetForm'='ngForm'
  )
    .container
      .row
        .col-xs
        .col-xs-10.col-sm-9.col-md-7.col-lg-5.col-xl-4.text-xs-center
          .card
            br
            .row
              .col-xs
              .col-xs-8.text-xs-center
                img.img-responsive(
                  [src]='"../../assets/images/logo.svg"'
                  alt='TutorialJS'
                )
              .col-xs
            hr
            .container-fluid.text-xs-left
              .row
                .col-xs
                .col-xs-12
                  .card-block.text-xs-center.pa-0
                    h4.card-title Password Reset
                  .form-group.label-floating
                    label.control-label(for='email') Email address
                    input#email.form-control(
                      name='email'
                      type='email'
                      aria-describedby='emailHelp'
                      '[(ngModel)]'='passwordResetModel.email'
                      '#email'='ngModel'
                      required
                      email
                    )
                    small.text-danger('*ngIf'='!email.valid && !email.pristine')
                      span('*ngIf'='email.errors?.required') Email is required.
                      span('*ngIf'='email.errors?.email') Email is not valid.
                    small#emailHelp.form-text.text-muted Enter your email address and we will send you a link to reset your password.
                  .col-xs
            .card-block.pt-0.text-xs-center
              button.btn.btn-primary.btn-block(
                type='submit'
                role='button'
                '[disabled]'='!passwordResetForm.form.valid'
              )
                i.fa.fa-send-o
                | &nbsp;
                | Send password reset email
            .card-block.pt-0.pl-0.pr-0.pb-1
              button.btn.btn-link.btn-xs.text-primary.float-xs-right(
                routerLink='/login'
                type='button'
                role='button'
              ) I remembered my password!
              button.btn.btn-link.btn-xs.text-primary(
                routerLink='/join'
                type='button'
                role='button'
              ) Create new account?
        .col-xs
