//- article(
//-   mnFullpage
//-   '[mnFullpageNavigation]'='true'
//-   [mnFullpageKeyboardScrolling]='true'
//-   [mnFullpageControlArrows]='false'
//- )
section.get-started
  #large-header.large-header
    canvas#bg-canvas
    #anim-logo.main-title
  header
    nav.navbar.navbar-full.navbar-fixed-top.navbar-header-menu.bg-faded
      button.navbar-toggler.hidden-sm-up(
        type='button'
        data-toggle='collapse'
        data-target='#header-menu'
        aria-controls='header-menu'
        aria-expanded='false'
        aria-label='Toggle navigation'
      ) ☰
      #header-menu.collapse.navbar-toggleable-xs
        a.navbar-brand(routerLink='/')
          <img class="img-responsive" [src]="'../../assets/images/logo.svg'" />
        ul.nav.navbar-nav
          li.nav-item(
            routerLink='/get-started'
            routerLinkActive='active'
          )
            a.nav-link(href='#') Get Started
          li.nav-item(
            routerLink='/courses'
            routerLinkActive='active'
          )
            a.nav-link(href='#') Courses
          li.nav-item(
            routerLink='/stories'
            routerLinkActive='active'
          )
            a.nav-link(href='#') Stories
          li.nav-item(
            routerLink='/news'
            routerLinkActive='active'
          )
            a.nav-link(href='#') News
          li.nav-item
