section.card.tags(tjsMaterialize)
  .card-block
    .right-actions-container
      button.btn.btn-primary.btn-fab(
        '(click)'='add()'
        ngbTooltip='Add New Tag'
        placement='top'
        container='body'
      )
        i.fa.fa-plus
    h4.card-title
      i.fa.fa-archive
      | &nbsp;
      | Tags
      small('*ngIf'='tags?.length')
        | &nbsp;
        span.tag.tag-pill.tag-default {{ tags.length }}
  .table-responsive
    table.table.table-hover.mb-0
      thead.thead-inverse
        tr
          th.text-xs-center(style='width: 1%')
            i.fa.fa-pencil
          th Name
          th Description
          th Created By
          th Updated By
          th.text-xs-center(style='width: 1%')
            i.fa.fa-trash
      tbody
        tr('*ngFor'='let tag of tags')
          td.text-xs-center
            button.btn.btn-primary(
              type='button'
              role='button'
              '(click)'='edit(tag, $event)'
              ngbTooltip='Edit Tag'
              placement='top'
            )
              i.fa.fa-pencil
          th
            | {{ tag.name }}
          td {{ tag.description }}
          td
            button.btn.btn-info(
              type='button'
              role='button'
              '[routerLink]'='[ "/users", tag.createdBy._id ]'
              ngbTooltip='Open Users Profile'
              placement='top'
              '*ngIf'='tag.createdBy?._id'
            ) {{ tag.createdBy.login }}
          td
            button.btn.btn-info(
              type='button'
              role='button'
              '[routerLink]'='[ "/users", tag.updatedBy._id ]'
              ngbTooltip='Open Users Profile'
              placement='top'
              '*ngIf'='tag.updatedBy?._id'
            ) {{ tag.updatedBy.login }}
          td.text-xs-center
            button.btn.btn-danger(
              type='button'
              role='button'
              '(click)'='remove(tag, $event)'
              ngbTooltip='Remove Tag'
              placement='top'
            )
              i.fa.fa-trash
  .alert.alert-info.mb-0(
    role='alert'
    '*ngIf'='!tags?.length'
  )
    | No tags yet.
    ul
      li Try to
        | &nbsp;
        a.alert-link(
          hrefVoid
          '(click)'='refresh()'
        ) refresh
        | &nbsp;
        | data.
      li
        | Would you like to
        | &nbsp;
        a.alert-link(
          hrefVoid
          '(click)'='add()'
        ) add one
        | ?
