section.level-modal(tjsMaterialize)
  form(
    '(ngSubmit)'='save()'
    '#levelForm'='ngForm'
  )
    .modal-header
      button.close(
        type='button'
        role='button'
        aria-label='Close'
        '(click)'='modalInstance.dismiss()'
      )
        span(aria-hidden='true') ×
      h4.modal-title
        span('*ngIf'='!data.id')
          | Add New Level
        span('*ngIf'='data.id')
          | Edit Level
    .modal-body('*ngIf'='data')
      .form-group.label-floating
        label.control-label(for='name') Name
        input#name.form-control(
          name='name'
          type='text'
          '[(ngModel)]'='data.name'
          '#name'='ngModel'
          required
        )
        small.text-danger('*ngIf'='!name.valid && !name.pristine')
          span('*ngIf'='name.errors?.required') Name is required.
      .form-group.label-floating
        label.control-label(for='description') Description
        textarea#description.form-control(
          tjsAutosize
          name='description'
          type='text'
          '[(ngModel)]'='data.description'
          '#description'='ngModel'
        )
        small.text-danger('*ngIf'='!description.valid && !description.pristine')
          span('*ngIf'='description.errors?.required') Description is required.
      .form-group.label-floating
        label.control-label(for='color') Color
        input#color.form-control(
          name='color'
          '[(colorPicker)]'='data.color'
          '[style.background]'='data.color'
          '[value]'='data.color'
          '#color'=''
          required
        )
        small.text-danger('*ngIf'='!color.valid && !color.pristine')
          span('*ngIf'='color.errors?.required') Color is required.
      .form-group.label-floating
        label.control-label(for='points') Points
        input#points.form-control(
          name='points'
          type='number'
          '[(ngModel)]'='data.points'
          '#points'='ngModel'
          required
          '[min]'='0'
          '[max]'='100'
        )
        small.text-danger('*ngIf'='!points.valid && !points.pristine')
          span('*ngIf'='points.errors?.required') Points is required.
          span('*ngIf'='points.errors?.min') Points must be higher than 0.
          span('*ngIf'='points.errors?.max') Points must be lower than 100.
    .modal-footer
      button.btn.btn-secondary(
        type='button'
        role='button'
        '(click)'='modalInstance.dismiss()'
      )
        i.fa.fa-fw.fa-ban
        | &nbsp;
        | Close
      button.btn.btn-success(
        type='button'
        role='button'
        '(click)'='save()'
        '[disabled]'='!levelForm.form.valid'
      )
        i.fa.fa-fw.fa-floppy-o
        | &nbsp;
        | Save
